.buttonWrap:hover a {
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.1);
  transform: translate(-10px, -10px);
}
.buttonWrap {
  font-weight: bold;

  a {
    background-color: white;
    margin-right: 1rem;
    transition-duration: 300ms;
    display: flex;
    align-items: center;
    padding: 1rem;
    img {
      margin-right: 0.5rem;
      height: 1rem;
    }
  }
}
