.container {
  color: white;
  min-height: 100vh;
  padding: 0 0.5rem;
  position: absolute;
  width: 100%;
  background-color: #86c4e1;
  z-index: 1;
  padding: 5rem 1rem;

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    color: #528ac7;
    text-shadow: 1px 1px 10px #528ac7;
    font-weight: bold;
    text-align: start;
    margin-left: 5rem;

    a {
      color: white;
      text-decoration: none;
      text-shadow: 1px 1px 10px #ffffff88;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .nene {
    position: absolute;
    max-height: 90vh;
    width: auto;
    height: auto;
    display: block;
    width: auto;
    bottom: 0;
    right: 0;
    z-index: 5;
    pointer-events: none;
  }

  @media (max-width: 1400px) {
    .nene {
      position: relative;
      bottom: -6rem;
      z-index: 0;
      width: 80%;
      margin-left: 5%;
    }
  }

  .skew {
    margin: 0 2rem;
    margin-top: 5rem;
    transform: skew(3deg, -3deg);
    max-width: 60%;
    .description {
      z-index: 2;
      p {
        font-size: 40px;
        margin: 0 0 2rem;
        font-weight: bold;
      }
      margin-bottom: 1rem;
      color: white;
      font-size: 20px;
      background-color: #528ac7;
      padding: 2rem;
      transition-duration: 300ms;
      box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.1);
    }

    .socials {
      height: 5rem;
      display: flex;
      align-items: center;
      transform: translate(10px, 10px);

      .buttonWrap:hover a {
        box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.1);
        transform: translate(-10px, -10px);
      }

      a {
        background-color: white;
        margin-right: 1rem;
        transition-duration: 300ms;
        display: flex;
        align-items: center;
        padding: 1rem;
        img {
          margin-right: 0.5rem;
          height: 1rem;
        }
      }
    }

    @media (max-width: 1400px) {
      .socials {
        display: none;
      }
    }
  }

  @media (max-width: 1400px) {
    .skew {
      max-width: 100%;
    }
  }

  .particles {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
