.container {
  color: white;
  min-height: 100vh;
  padding: 0 0.5rem;
  position: absolute;
  width: 100%;
  background-color: #86c4e1;
  z-index: 1;
}

.main {
  padding: 5rem 0;
}

.nene {
  position: absolute;
  height: 90vh;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.title a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 10px #ffffff88;
  &:hover {
    text-decoration: underline;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #528ac7;
  text-shadow: 1px 1px 10px #528ac7;
  font-weight: bold;
}

.title {
  text-align: start;
  margin-left: 5rem;
}

.skew {
  margin-left: 2rem;
  margin-top: 5rem;
  transform: skew(3deg, -3deg);
  max-width: 60%;
  .description {
    p {
      font-size: 40px;
      margin: 0 0 2rem;
      font-weight: bold;
    }
    margin-bottom: 1rem;
    color: white;
    font-size: 20px;
    background-color: #528ac788;
    padding: 2rem;
    transition-duration: 300ms;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.1);
  }

  .socials {
    height: 5rem;
    display: flex;
    align-items: center;
    transform: translate(10px, 10px);

    .buttonWrap:hover a {
      box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.1);
      transform: translate(-10px, -10px);
    }

    a {
      background-color: white;
      margin-right: 1rem;
      transition-duration: 300ms;
      display: flex;
      align-items: center;
      padding: 1rem;
      img {
        margin-right: 0.5rem;
        height: 1rem;
      }
    }

    .twitter {
      color: #1da1f2;
    }
    .youtube {
      color: #ff0000;
    }
    .twitch {
      color: #6441a5;
    }
    .fanbox {
      color: #2c333c;
    }
    .marshmallow {
      color: #ffae8e;
      img {
        height: 1.5rem;
      }
    }
  }
}

.info {
  padding: 5rem;
  background-color: #528ac7;
}

ul.nenekaList {
  list-style: none;
  display: flex;
  align-items: center;

  &::before {
    content: " ";
    display: inline-block;
    margin-right: 5px;
    height: 20px;
    width: 20px;
    background-image: url("/nene.png");
    background-size: contain;
  }

  li {
    font-size: 30px;
  }
}

.timeline {
  width: 50rem;
  margin-left: 5rem;
  margin-top: 5rem;
}

.particles {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
