.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  background-image: url("/nene.png");
  background-size: 50rem;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  position: absolute;
  width: 100%;
  background-color: #86c4e1;
  z-index: 1;
}

.main {
  padding: 5rem 0;
}

.title a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 10px #ffffff88;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #528ac7;
  text-shadow: 1px 1px 10px #528ac7;
}

.title {
  text-align: start;
  margin-left: 5rem;
}

.description {
  z-index: 1;
  p {
    font-size: 40px;
    margin: 0 0 2rem;
    font-weight: bold;
  }
  margin-left: 2rem;
  margin-top: 5rem;
  max-width: 60%;
  color: white;
  font-size: 20px;
  background-color: #528ac788;
  padding: 2rem;
  transform: skew(3deg, -3deg);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
}

.info {
  padding: 5rem;
}

ul.nenekaList {
  list-style: none;
  display: flex;
  align-items: center;

  &::before {
    content: " ";
    display: inline-block;
    margin-right: 5px;
    height: 20px;
    width: 20px;
    background-image: url("/nene.png");
    background-size: contain;
  }

  li {
    font-size: 30px;
  }
}

.timeline {
  width: 50rem;
  margin-left: 5rem;
  margin-top: 5rem;
}

.particles {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
