@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

.bg {
  font-family: "Nunito";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  align-items: center;
  background-color: #5dadec;
  min-height: 100vh;
  color: white;

  .header {
    font-family: "Kosugi Maru";
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 800px) {
    .header {
      font-size: 10vw;
    }
  }

  .wrapper {
    width: 80%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 35rem;

    .message {
      margin: 2rem 0;
      text-align: justify;
    }

    .feed {
      display: flex;
      flex-direction: column;
      align-items: center;

      .info {
        margin: 1rem 0;
      }

      .switch {
        color: white;
        font-weight: 800;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
      }

      .card {
        margin-bottom: 2rem;
        color: black;
      }
    }
  }
}

.jp {
  font-family: "Kosugi Maru";
}

.en {
  font-family: "Nunito";
}
