@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

.bg {
  font-family: "Nunito";
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
  width: 100vw;
  background-color: #5dadec;
  min-height: 100vh;

  .header {
    font-family: "Kosugi Maru";
    color: white;
    font-size: 5rem;
    font-weight: bold;
  }

  .switch {
    color: white;
    font-weight: 800;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .card {
    margin-bottom: 2rem;
  }
}
